/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --subtitle-bg-color: var(--accent-color);
  --subtitle-text-color: var(--bg-color);  
  --title-color: #DB00FF;
  --shadow-title-color: var(--accent-color);
  --accent-color: #FF0070;
  --decor-color: var(--accent-color);
  --border-color: var(--accent-color);
  --background-nav: #FF007066;
}
:root.theme-dark .rec { 
  display: inline; 
}